@import './override-gg-styles.css';
@import './mods/extenssr-styles.css';

:root {
  --main-color: #59f3b3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src:
    url(asset:fonts/montserrat-regular-webfont.woff2) format('woff2'),
    url(asset:fonts/montserrat-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

h2,
h3 {
  margin: 0.8rem 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mx-1 {
  margin: 1rem 0;
}

.ml-05 {
  margin-left: 0.5rem;
}

.gap-05 {
  gap: 0.5rem;
}

.w-full {
  width: 100%;
}

.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}

.form__group input,
.form__group select {
  padding: 0;
  height: 24px;
  font-family: inherit;
  font-size: inherit;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form__group input[type='color'] {
  padding: 1px 2px;
}

.form__group input:hover,
.form__group select:hover {
  filter: brightness(120%);
}

.form__group input[type='text'],
.form__group input[type='range'],
.form__group select {
  width: 160px;
}

.form__group input[type='text'],
.form__group select {
  border: 1px solid var(--main-color);
}

.form__group input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

.form__group input[type='range']::-webkit-slider-runnable-track {
  background: rgb(71, 71, 71);
  border-radius: 4px;
  height: 0.5rem;
}

.form__group input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  width: 14px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.form__group input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: var(--main-color);
  width: 1.15rem;
  height: 1.15rem;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  display: grid;
  place-content: center;
  outline: none;
}

.form__group input[type='checkbox']::before {
  content: '';
  width: 0.65rem;
  height: 0.65rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--main-color);
}

.form__group input[type='checkbox']:checked::before {
  transform: scale(1);
}

.form__group select option {
  background: rgba(0, 0, 0, 0.8);
}

.form__group select::-webkit-scrollbar {
  width: 10px;
}

.form__group select::-webkit-scrollbar-track {
  border-radius: 10px;
}

.form__group select::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

textarea {
  min-height: 60px;
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  resize: vertical;
  width: -webkit-fill-available;
  outline: 0;
}
textarea:focus {
  border: 1px solid var(--main-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  height: 28px;
  padding: 0 0.5rem;
  background-color: var(--main-color);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  /* background: rgba(88, 243, 178, 0.9); */
}

.btn:active {
  opacity: 0.8;
  /* background: rgba(88, 243, 178, 0.8); */
}

hr {
  width: 80%;
  height: 1px;
  margin: 0.5rem auto;
  background-color: var(--main-color);
  border: none;
}

small {
  font-size: 0.8rem;
}

.success {
  background: var(--main-color);
}

.success:hover {
  background: #56ca90;
}

.success:active {
  background: #4eb883;
}

.danger {
  background: #c9534e;
}

.danger:hover {
  background: #bd4e4a;
}

.danger:active {
  background: #b64945;
}

.warning {
  background: #ffae00;
}

.warning:hover {
  background: #e49c00;
}

.warning:active {
  background: #c28400;
}

.icon {
  background-size: contain;
  width: 100%;
  height: 100%;
}

.username {
  font-size: 15px;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  margin-right: 5px;
}

.flag-icon:before {
  content: '\00a0';
}

#satelliteCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* These styles cannot be scoped so we put em in here */
.scoreboard-handle {
  display: block !important;
  background: none;
  border: none;
}
.scoreboard-handle-tm,
.scoreboard-handle-bm {
  height: 12px;
  width: 100%;
  left: 0;
  margin: 0;
}
.scoreboard-handle-ml,
.scoreboard-handle-mr {
  width: 12px;
  height: 100%;
  top: 0;
  margin: 0;
}
.scoreboard-handle-tl,
.scoreboard-handle-tr,
.scoreboard-handle-bl,
.scoreboard-handle-br {
  width: 12px;
  height: 12px;
  z-index: 99;
}

.vue3-easy-data-table,
.vue3-easy-data-table div.vue3-easy-data-table__main {
  min-height: auto;
  height: calc(100% - 21px);
}

.expand {
  animation: expand 0.2s ease-in-out;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
